@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$body-font: 'Roboto Slab', serif;
$body-font2: 'Open Sans', sans-serif;

body {
  background-color: steelblue;
  color: lavender;
  font-family: $body-font;
  font-size: 100%;
}
.appContainer {
    max-width: 960px;
}

.graphicContainer {
    height: 500px;
    border-top: 1px solid lavender;
    border-bottom: 1px solid lavender;
    margin: 10px 5px 5px 5px;
}

//D3 Graphic
.bar {
  fill: midnightblue;
}

.bar:hover {
  fill: peru;
}

.axis {
  font: 10px sans-serif;
  fill: lavender;
}

.axis path,
.axis line {
  fill: none;
  stroke: lavender;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}